header {
  background-color: #00000016;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

header > h1 {
  font-size: 1.5em;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

header ul {
  display: flex;
  list-style: none;
  gap: 15px;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: rgb(82, 82, 82);
}

header button {
  font-family: "Rosarivo";
  font-size: 1em;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

header button:hover {
  color: rgb(82, 82, 82);
}

@media screen and (max-width: 1124px) {
  header {
    width: 100%;
    justify-content: center;
  }
  header h1 {
    display: none;
  }
}
